@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
   text-decoration: none;
    
}
.navbar .max-width{
display: flex;
align-items: center;
justify-content:space-between;
}

.max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}
.navbar{
    background-color:crimson;
    position: fixed;
    width: 100%;
    font-family: Ubunto,sans-serif;
    padding: 15px 0;
    
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo span{
    color: black;
}
.navbar .menu ul{
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;

    
    

   
}


.logo span{}



















/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;

}

#block1{
background-color:#00FFFF;
text-align: center;
height: 200px;
width: 500px;
padding: 50px;
border: 1px solid black;

}
#block2{
background-color: #DEB887;
text-align: center;
height: 200px;
width: 500px;
padding: 50px;
border: 1px solid black;
}*/