*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  
  }
  .navbar{
    /* background: crimson; */
    position: fixed;
    width: 100%;
    font-family: ubuntu,sans-serif;
    padding: 30px 0;
  }
  .navbar.sticky{
      background: crimson;
      padding: 30px 0;
      
  }
  .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .max-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
  }
  .navbar .logo a span{
    color:crimson;
  }
  .navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  }
  .navbar .menu li{
    display: inline-block;
    list-style: none;
  
  }
  .navbar .menu li a:hover{
    color:crimson;
  }
  .navbar .menu li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  .home{
    display: flex;
    background: url("image/ban2ner.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: ubundu, sans-serif;
  }
  .home .max-width{
    margin: auto 0 auto 40px;
  }
  .home .home-content .text-1{
    font-size: 27px;
  }
  .home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
  }
  .home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0px;
  }
  .home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
  }